<?xml version="1.0"?>
<web-app>
<display-name>falcon-contest</display-name>
<description>Programming Contest system</description>

<resource-ref>
	<description>DB Connection</description>
	<res-ref-name>jdbc/contestDB</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
</resource-ref>

<filter>
 <filter-name>urlContestFilter</filter-name>
 <filter-class>dragonfin.contest.UrlContestFilter</filter-class>
</filter>
<filter-mapping>
 <filter-name>urlContestFilter</filter-name>
 <url-pattern>/*</url-pattern>
</filter-mapping>

<servlet>
 <servlet-name>config</servlet-name>
 <servlet-class>dragonfin.ConfigServlet</servlet-class>
</servlet>

<servlet>
 <servlet-name>login</servlet-name>
 <servlet-class>dragonfin.contest.LoginServlet</servlet-class>
</servlet>

<servlet>
 <servlet-name>menu</servlet-name>
 <servlet-class>dragonfin.contest.MenuServlet</servlet-class>
</servlet>

<servlet>
 <servlet-name>controller</servlet-name>
 <servlet-class>dragonfin.contest.ControllerServlet</servlet-class>
</servlet>

<servlet>
 <servlet-name>ListUsers</servlet-name>
 <servlet-class>dragonfin.contest.ListUsersServlet</servlet-class>
</servlet>

<servlet>
 <servlet-name>list_problems</servlet-name>
 <servlet-class>dragonfin.contest.ListProblemsServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>ListSubmissions</servlet-name>
 <servlet-class>dragonfin.contest.ListSubmissionsServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>EditClarification</servlet-name>
 <servlet-class>dragonfin.contest.EditClarificationServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>EditSubmission</servlet-name>
 <servlet-class>dragonfin.contest.EditSubmissionServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>DefineSystemTest</servlet-name>
 <servlet-class>dragonfin.contest.DefineSystemTestServlet</servlet-class>
</servlet>

<servlet>
 <servlet-name>DefineProblem</servlet-name>
 <servlet-class>dragonfin.contest.DefineProblemServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>DefineUser</servlet-name>
 <servlet-class>dragonfin.contest.DefineUserServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>ContestRules</servlet-name>
 <servlet-class>dragonfin.contest.ContestRulesServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>StartProblem</servlet-name>
 <servlet-class>dragonfin.contest.StartProblemServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>ProblemDescription</servlet-name>
 <servlet-class>dragonfin.contest.ProblemDescriptionServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>ProblemClarifications</servlet-name>
 <servlet-class>dragonfin.contest.ProblemClarificationsServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>ProblemCoder</servlet-name>
 <servlet-class>dragonfin.contest.ProblemCoderServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>ProblemTest</servlet-name>
 <servlet-class>dragonfin.contest.ProblemTestServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>ProblemSubmit</servlet-name>
 <servlet-class>dragonfin.contest.ProblemSubmitServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>TestResult</servlet-name>
 <servlet-class>dragonfin.contest.TestResultServlet</servlet-class>
</servlet>

<servlet>
 <servlet-name>DefineContest</servlet-name>
 <servlet-class>dragonfin.contest.DefineContestServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>ListContests</servlet-name>
 <servlet-class>dragonfin.contest.ListContestsServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>AdminFileChunks</servlet-name>
 <servlet-class>dragonfin.contest.AdminFileChunksServlet</servlet-class>
</servlet>

<!-- Used by Worker script.
  -->
<servlet>
 <servlet-name>RegisterWorker</servlet-name>
 <servlet-class>dragonfin.contest.RegisterWorkerServlet</servlet-class>
</servlet>
<servlet>
 <servlet-name>PostJobResult</servlet-name>
 <servlet-class>dragonfin.contest.PostJobResultServlet</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>RegisterWorker</servlet-name>
 <url-pattern>/_p/register_worker</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>PostJobResult</servlet-name>
 <url-pattern>/_w/post_job_result</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>config</servlet-name>
 <url-pattern>/config</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>login</servlet-name>
 <url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>login</servlet-name>
 <url-pattern>/_p/login</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>menu</servlet-name>
 <url-pattern>/_p/</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>controller</servlet-name>
 <url-pattern>/_p/controller</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>ListUsers</servlet-name>
 <url-pattern>/_p/users</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>list_problems</servlet-name>
 <url-pattern>/_p/problems</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>ListSubmissions</servlet-name>
 <url-pattern>/_p/submissions</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>EditClarification</servlet-name>
 <url-pattern>/_p/clarification</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>EditSubmission</servlet-name>
 <url-pattern>/_p/submission</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>DefineSystemTest</servlet-name>
 <url-pattern>/_p/system_test</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>DefineProblem</servlet-name>
 <url-pattern>/_p/problem</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>DefineUser</servlet-name>
 <url-pattern>/_p/user</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>ContestRules</servlet-name>
 <url-pattern>/_p/rules</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>StartProblem</servlet-name>
 <url-pattern>/_p/_problem/</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>ProblemDescription</servlet-name>
 <url-pattern>/_p/_problem/description</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>ProblemClarifications</servlet-name>
 <url-pattern>/_p/_problem/clarifications</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>ProblemCoder</servlet-name>
 <url-pattern>/_p/_problem/write</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>ProblemTest</servlet-name>
 <url-pattern>/_p/_problem/test</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>ProblemSubmit</servlet-name>
 <url-pattern>/_p/_problem/submit</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>TestResult</servlet-name>
 <url-pattern>/_p/_problem/test_result</url-pattern>
</servlet-mapping>

<servlet-mapping>
 <servlet-name>DefineContest</servlet-name>
 <url-pattern>/_admin/define_contest</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>ListContests</servlet-name>
 <url-pattern>/_admin/contests</url-pattern>
</servlet-mapping>
<servlet-mapping>
 <servlet-name>AdminFileChunks</servlet-name>
 <url-pattern>/_admin/chunks</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>GetFile</servlet-name>
 <servlet-class>dragonfin.contest.GetFileServlet</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>GetFile</servlet-name>
 <url-pattern>/_f/*</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>NewSubmissionTask</servlet-name>
 <servlet-class>dragonfin.contest.NewSubmissionTask</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>NewSubmissionTask</servlet-name>
 <url-pattern>/_task/new_submission</url-pattern>
</servlet-mapping>

</web-app>
