<?xml version="1.0"?>
<web-app>
<display-name>job_broker</display-name>
<description>Coder Contest - Job Broker</description>

<listener>
 <listener-class>dragonfin.contest.broker.ContextListener</listener-class>
</listener>

<servlet>
 <servlet-name>TestFeed</servlet-name>
 <servlet-class>dragonfin.contest.broker.TestFeedServlet</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>TestFeed</servlet-name>
 <url-pattern>/feed</url-pattern>
</servlet-mapping>
</web-app>
