[% WRAPPER common.inc
	page_title = 'Login'
%]

[% IF message %]
<p class="error">[% message |html %]</p>
[% END %]

<form method="post" action="login.php">
<table>
<tr>
<td>Contest:</td>
<td><select name="contest">[% FOREACH c = contests %]
<option value="[% c.id |html %]"[% ' selected="selected"' IF r.contest == c.id %]>[% c.title |html %]</option>
[% END %]
<option value="">(system administration)</option></select></td>
</select>
</td>
</tr>
<tr>
<td>Username:</td>
<td><input type="text" name="username" value="[% r.username |html %]"></td>
</tr>
<tr>
<td>Password:</td>
<td><input type="password" name="password"></td>
</tr>
</table>
<div><button type="submit">Login</button></div>
</form>

[% END #wrapper %]
