[% WRAPPER 'common.inc'
	page_title = problem.name,
	notitle = 1
%]

[% INCLUDE 'problem_actions_tabnav.inc'
	show_mode = 'test'
%]

<h2>[% problem.name |html %]</h2>
<p>
Use this form to test your code with the same system/environment that
the judges are using. Your source code will be compiled and executed,
using the specified input file. Your program's output will then be
displayed for you.
</p>

<form method="post" enctype="multipart/form-data" action="[% r.url |html %]">
<table>
<tr>
<td valign="top">Source code:</td>
<td valign="top">
[% IF result.source %]
	<div>
	<input type="hidden" name="source_name" value="[% result.source.name |html %]">
	<input type="hidden" name="source_file" value="[% result.source.id |html %]">
	Use existing source code file:
	<a href="[% result.source.url |html %]">[% result.source.name |html %]</a>
	</div>
	<div>or upload a new file:
[% ELSE %]
	<div>Upload a file:
[% END %]
<input type="file" name="source_upload">
</div>
<div><small>Accepted file types:
	[% INCLUDE 'accepted_file_types.inc' %]
</small></div>
</td>
</tr>
<tr>
<td valign="top"><label>Input file:</label></td>
<td valign="top">
[% IF problem.sample_inputs.size %]
	Select example input file:
	<select id="example_input_file_select">
	<option value="">--select--</option>
	[% FOREACH samp IN problem.sample_inputs %]
		<option value="[% samp.input.id |html %]">[% samp.sample_name |html %]</option>
	[% END %]
	</select><br>
	or upload a file:
[% ELSE %]
	Upload a file:
[% END #if any sample inputs %]
<input type="file" name="input_upload"><br>
or enter text in this box:<br>
<textarea name="input_content" rows="12" cols="60">[% IF f.input f.content |html END %]</textarea>
</td>
</tr>
</table>

<div>
<button type="submit">Test</button>
</div>

</form>

[% END #wrapper %]
